body {
    font-family: 'Arial', sans-serif;
    background: url('background.webp') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.calculator {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    color:#006e18;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
}

.subheading {
    font-size: 1.1em;
    color: #555;
    margin-top: -10px;
    margin-bottom: 20px;
    text-align: center;
}

.input-section, .button-section, .output-section {
    margin: 10px 0;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #000000;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius:5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

h2 {
    margin: 0;
    margin-bottom:15px;
    font-family:Arial, Helvetica, sans-serif;
    color:#218838;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #28a745;
    color: white;
}
p {
    font-size: 16px;
    color: #333;
    font-family:Arial, Helvetica, sans-serif;
}

.info-section {
    margin-top: 30px;
}

h3 {
    color: #006e1c;
    font-family:Arial, Helvetica, sans-serif;
}

.gst-types {
    display: flex;
    flex-wrap:wrap;
    gap: 20px;
}

.gst-type {
    flex: 1 1 28%;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.gst-type h4 {
    color: #28a745;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.calculation-steps {
    background-color: #f9f9f9;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
    margin-bottom: 50px;
}

.calculation-steps ol {
    padding-left: 20px;
}

.calculation-steps li {
    margin: 10px 0;
    color: #555;
}

.output p {
    font-size: 1rem;
}

.calculator .form {
    margin-bottom: 15px;
}

.calculator .form-control {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.highlight {
    background-color: lightgreen; 
}

.table-container {
    max-width: 100%;
    overflow-x: auto; 
    margin-bottom: 20px;
}